.wrapper__content
  .privacy__content
    .setting__content
      %h1
        = @user.name
      = link_to '<i class="fa fa-cog"></i>'.html_safe,edit_user_path(current_user.id)
      = link_to '<i class="far fa-edit"></i>'.html_safe,new_group_path
    - @groups.each do |group|
      .group__content
        %li.name
          = group.group_name
        %li.text nothing
  .main-contents
    .message__content
      %h1 ALEXANDROS
      .edit__box Edit
      %p Members: tomohiro tady yuya
    .message__box
      %ul
        %li.message__name tatetsuji
        %li.message__time 2018/12/04  19:00
        %li.message__text 全然分からへん
      %ul
        %li.message__name tatetsuji
        %li.message__time 2018/12/04  19:00
        %li.message__text まじで
      %ul
        %li.message__name tatetsuji
        %li.message__time 2018/12/04  19:00
        %li.message__text なぞ
    %footer
      .form_box
        %input(placeholder = "type a message")
          %a(href = "https://www.google.co.jp/?gfe_rd=cr&ei=stJwU9nQMKOT8QeK_4C4Dw")
            %i.fas.fa-image.fa-fw
        .send_button SEND



