.privacy__content
  .setting__content
    %h1
      = @user.name
    = link_to '<i class="fa fa-cog"></i>'.html_safe,edit_user_path(current_user.id)
    = link_to '<i class="far fa-edit"></i>'.html_safe,new_group_path
    - @groups.each do |group|
      .group__content
        %li.name
          = group.group_name
        %li.text nothing
