li.user__name {
  font-size:20px;
  list-style: none;
  font-weight: bold;
}
.user__name__wrapper__current__user {
  width:627px;
  border: 1px solid;
  margin-top: 10px;
  line-height: 50px;
  height: 50px;
  float: right;
}
